<!-- <ion-view view-title="Musics">
<ion-content class="padding">
	  <ion-list>
			<ion-item class="item-avatar" ng-repeat="music in musics" href="#/app/musics/{{music.id}}"> -->
				<!--<img src="{{item.user.picture.thumbnail}} " />-->
				<!-- <p> {{music.name}} </p>
				<h2>{{music.username}} </h2>
			</ion-item>
		</ion-list>
</ion-content>
</ion-view> -->

<ion-view view-title="Musics">
  <ion-content>
    <ion-list>
      <ion-item ng-repeat="music in musics"
                href="#/app/musics/{{music.id}}">
				<div class="container">
				<img src="{{music.image}}" height="50%" width="25%"/>
				</div>
                <p>{{music.name}} {{music.file}}</p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
